<div class="card">
    <h1>Oscar Diaz</h1>
    <div class="img-container">
        <img class="img" src="https://marketplace.canva.com/EAEj17Y_k_k/2/0/1600w/canva-amarillo-y-negro-gamer-desgastado-imagen-de-perfil-de-twitch-41B81rUGLAg.jpg" alt="">
    </div>
    <p>Soy estudiante de ingeniería de sistemas actualmente cursando sexto semestre y cuento con el título de
        <strong>Técnico en operación y
            mantenimiento de bases de datos.</strong> He manejado C# y SQL Server desde que estoy en la secundaria,
        en donde me gradué como
        <strong>Bachiller técnico con especialidad en informática</strong> desarrollando aplicaciones WinForms y
        Wpf.
    </p>
    <p>Participe en el programa MisionTic2022 del ministerio de las Tic de Colombia en donde reforcé mis
        conocimientos en Java, Python, Html
        y Css. Y he realizado los cursos
        <strong>Oracle Database Foundations</strong> y <strong>Oracle Database Design</strong> de Oracle Academy.
    </p>
</div>
