<div class="crystal-card">
    <h1>Proyectos</h1>

    <div class="spacer"></div>
    <!--Break-->

    <div class="col-md-12 crystal-item">
        <div class="col-sm-12 m-auto pb-4">

            <div id="conauxpcarousel" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#conauxpcarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#conauxpcarousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#conauxpcarousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#conauxpcarousel" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src=".\assets\resources\CONAUXP\Login.PNG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src=".\assets\resources\CONAUXP\Tareas.PNG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src=".\assets\resources\CONAUXP\Inicio.PNG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src=".\assets\resources\CONAUXP\Perfil.PNG" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#conauxpcarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#conauxpcarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
        <div class="p-2">
            <h5 class="pb-4">CONAUXP</h5>

            <p>CONAUXP es un sistema para el control de tareas de los auxiliares de policía.
            </p>

            <app-icons-container IconSize="small"
                [Icons]="['Csharp', '.Net Core', 'SqlServer', 'HTML', 'Css', 'Bootstrap']">
            </app-icons-container>
        </div>
    </div>


    <div class="spacer"></div>
    <!--Break-->

    <div class="col-md-12 crystal-item">
        <div class="col-sm-12 m-auto pb-4">

            <div id="policegamecarousel" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#policegamecarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#policegamecarousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#policegamecarousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#policegamecarousel" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src=".\assets\resources/PoliceGameCase/game4.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src=".\assets\resources/PoliceGameCase/game1.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src=".\assets\resources/PoliceGameCase/game2.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/PoliceGameCase/game3.jpeg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#policegamecarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#policegamecarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
        <div class="p-2">
            <h5 class="pb-4">PoliceGameCase</h5>

            <p>PoliceGameCase es un juego que se desarrolló para un auxiliar de policía cuyo propósito era mejorar la
                relación entre la policía y la comunidad.
                En este juego se podrán tomar decisiones que afectaran el transcurso de la historia mientras se defiende
                de los asaltos del ladrón.
            </p>

            <app-icons-container IconSize="small" [Icons]="['Csharp', 'Unity']">
            </app-icons-container>
        </div>
    </div>


    <div class="spacer"></div>
    <!--Break-->

    <div class="col-md-12 crystal-item">
        <div class="col-sm-12 m-auto pb-4">

            <div id="sistemaposcarousel" class="carousel carousel-dark slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#sistemaposcarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#sistemaposcarousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#sistemaposcarousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#sistemaposcarousel" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#sistemaposcarousel" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./assets/resources/sistemaPos/clientes.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/sistemaPos/productos.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/sistemaPos/newfactura.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/sistemaPos/addproductosfact.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/sistemaPos/facturas.png" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#sistemaposcarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#sistemaposcarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
        <div class="p-2">
            <h5 class="pb-4">SistemaPos</h5>

            <p>SistemaPos consiste en una aplicación web sencilla para administrar un punto de venta, tiene un módulo de
                clientes, productos y facturas.
            </p>

            <a href="https://github.com/JustSharingSomeCode/FsistemaPos">
                <p>Código fuente (Front-End)</p>
            </a>
            <a href="https://github.com/JustSharingSomeCode/BsistemaPos">
                <p>Código fuente (Back-End)</p>
            </a>

            <app-icons-container IconSize="small" [Icons]="['Csharp', 'Angular', 'Bootstrap', 'SqlServer']">
            </app-icons-container>
        </div>
    </div>


    <div class="spacer"></div>
    <!--Break-->

    <div class="col-md-12 crystal-item">
        <div class="col-sm-12 m-auto pb-4">

            <div id="easytravelcarousel" class="carousel carousel-dark slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#easytravelcarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#easytravelcarousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#easytravelcarousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#easytravelcarousel" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#easytravelcarousel" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#easytravelcarousel" data-bs-slide-to="5"
                        aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#easytravelcarousel" data-bs-slide-to="6"
                        aria-label="Slide 5"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./assets/resources/EasyTravel/Img1.PNG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/EasyTravel/Img2.PNG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/EasyTravel/Img3.PNG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/EasyTravel/Img4.PNG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/EasyTravel/Admin/Img1.PNG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/EasyTravel/Admin/Img2.PNG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/EasyTravel/Admin/Img3.PNG" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#easytravelcarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#easytravelcarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
        <div class="p-2">
            <h5 class="pb-4">Easy Travel</h5>

            <p>EasyTravel es un proyecto que desarrolle como Freelancer para un estudiante de Costa Rica, es una
                aplicación de reserva de vuelos y planes turísticos.
                Cuenta con dos módulos, uno de administrador y otro de usuarios.
            </p>

            <app-icons-container IconSize="small" [Icons]="['Java', 'Tomcat', 'MySql']">
            </app-icons-container>
        </div>
    </div>

    <div class="spacer"></div>
    <!--Break-->

    <div class="col-md-12 crystal-item">
        <div class="col-sm-12 m-auto pb-4">

            <div id="csharpnationcarousel" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#csharpnationcarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#csharpnationcarousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./assets/resources/CSharpNation/Img1.PNG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/CSharpNation/img2.PNG" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#csharpnationcarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#csharpnationcarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
        <div class="p-2">
            <h5 class="pb-4">CSharpNation</h5>

            <p>CSharpNation es un proyecto que realice por diversión y esta basado en el canal de Youtube "<a
                    href="https://www.youtube.com/c/TrapNation">TrapNation</a>".
                Es un visualizador de audio el cual genera una onda de espectro visible según los sonidos que se
                reproduzcan en el computador.
            </p>
            <p>Este proyecto se realizó con varias librerías:</p>
            <ul class="col-md-2 m-auto mb-3">
                <li>WpfUi</li>
                <li>ImageSharp</li>
                <li>OpenTk</li>
                <li>Bass</li>
            </ul>

            <app-icons-container IconSize="small" [Icons]="['Csharp', 'OpenTk']">
            </app-icons-container>
        </div>
    </div>

    <div class="spacer"></div>
    <!--Break-->

    <div class="col-md-12 crystal-item">
        <div class="col-sm-12 m-auto pb-4">

            <img class="img-fluid" src="./assets/resources/WpfCustmozableControls.PNG" alt="">

        </div>
        <div class="p-2">
            <h5 class="pb-4">WpfCustomizableControls</h5>

            <p>WpfCustomizableControls es una librería de controles personalizados desarrollada para usar en proyectos
                Wpf. La tonalidad por defecto es
                una escala de grises, pero se pueden cambiar los colores a gusto.
            </p>
            <a href="https://github.com/JustSharingSomeCode/WpfCustomizableControls">
                <p>Puede encontrar el código fuente de este proyecto aquí.</p>
            </a>


            <app-icons-container IconSize="small" [Icons]="['Csharp']"></app-icons-container>

        </div>
    </div>

    <div class="spacer"></div>
    <!--Break-->

    <div class="col-md-12 crystal-item">
        <div class="col-sm-12 m-auto pb-4">

            <div id="reportecarousel" class="carousel carousel-dark slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#reportecarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#reportecarousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#reportecarousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#reportecarousel" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="./assets/resources/ReporteRamaJudicial/Rep1.PNG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/ReporteRamaJudicial/Rep2.PNG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/ReporteRamaJudicial/Rep3.PNG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="./assets/resources/ReporteRamaJudicial/Rep4.PNG" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#reportecarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#reportecarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
        <div class="p-2">
            <h5 class="pb-4">ReporteRamaJudicial</h5>

            <p>ReporteRamaJudicial es un proyecto piloto desarrollado para el juzgado del municipio de Mosquera
                Cundinamarca.
                La finalidad de este proyecto es reducir el tiempo en el que los jueces tienen que pasar realizando
                informes en excel, gracias a
                la aplicación solo tendrán que registrar los casos que llegan al despacho y seleccionar una fecha para
                que la aplicación realice
                automáticamente el informe.
            </p>
            <p>Este proyecto se realizó con la librería de controles WpfCustomizableControls y cuenta con dos temas, uno
                claro y uno oscuro</p>

            <app-icons-container IconSize="small" [Icons]="['Csharp', 'MySql']">
            </app-icons-container>
        </div>
    </div>
</div>