<div class="crystal-card">
    <h1>Proyectos</h1>
    <hr>

    <div class="spacer"></div> <!--Break-->

    <div class="col-md-12 crystal-item">
        <div class="col-sm-12 m-auto pb-4">

            <div id="conauxpcarousel" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#conauxpcarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#conauxpcarousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#conauxpcarousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#conauxpcarousel" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src=".\assets\resources\CONAUXP\Login.PNG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src=".\assets\resources\CONAUXP\Tareas.PNG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src=".\assets\resources\CONAUXP\Inicio.PNG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src=".\assets\resources\CONAUXP\Perfil.PNG" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#conauxpcarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#conauxpcarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            
        </div>
        <h5 class="pb-4">CONAUXP</h5>

        <p>CONAUXP es un sistema para el control de tareas de los auxiliares de policía.
        </p>
        
        <app-icons-container [Icons]="['Csharp', 'SqlServer', 'HTML', 'Css', 'Bootstrap']"></app-icons-container>
    </div>


    <div class="spacer"></div> <!--Break-->

    <div class="col-md-12 p-sm-4 crystal-card">
        <h5 class="pb-4">CONAUXP</h5>
        <div class="col-sm-12 m-auto pb-4">

            <div id="conauxpcarousel" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#conauxpcarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#conauxpcarousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#conauxpcarousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#conauxpcarousel" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src=".\assets\resources\CONAUXP\Login.PNG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src=".\assets\resources\CONAUXP\Tareas.PNG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src=".\assets\resources\CONAUXP\Inicio.PNG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src=".\assets\resources\CONAUXP\Perfil.PNG" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#conauxpcarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#conauxpcarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            
        </div>
        <p>CONAUXP es un sistema para el control de tareas de los auxiliares de policía.
        </p>
        
        <app-icons-container [Icons]="['Csharp', 'SqlServer', 'HTML', 'Css', 'Bootstrap']"></app-icons-container>
    </div>

    <div class="spacer"></div> <!--Break-->

    <div class="col-md-12 p-sm-4 crystal-card">
        <h5 class="pb-4">CONAUXP</h5>
        <div class="col-sm-12 m-auto pb-4">

            <div id="conauxpcarousel" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#conauxpcarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#conauxpcarousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#conauxpcarousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#conauxpcarousel" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src=".\assets\resources\CONAUXP\Login.PNG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src=".\assets\resources\CONAUXP\Tareas.PNG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src=".\assets\resources\CONAUXP\Inicio.PNG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src=".\assets\resources\CONAUXP\Perfil.PNG" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#conauxpcarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#conauxpcarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            
        </div>
        <p>CONAUXP es un sistema para el control de tareas de los auxiliares de policía.
        </p>
        
        <app-icons-container [Icons]="['Csharp', 'SqlServer', 'HTML', 'Css', 'Bootstrap']"></app-icons-container>
    </div>
</div>