.main
{
    margin: auto;
    padding: 20px;

    max-width: 1000px;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.spacer
{
    height: 20px;
}