/* You can add global styles to this file, and also import other style files */
body {
    /*background: linear-gradient(167deg, rgba(182, 255, 209, 1) 0%, rgba(160, 255, 250, 1) 31%, rgba(162, 239, 255, 1) 63%, rgba(184, 208, 255, 1) 100%);*/
    background: rgb(218, 255, 232);
    background: linear-gradient(167deg, rgba(218, 255, 232, 1) 0%, rgba(196, 255, 252, 1) 50%, rgba(205, 222, 255, 1) 100%);
}

h1 {
    font-family: 'Righteous', cursive;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

.spacer {
    height: 20px;
}

.card {
    /*background-color: white;*/
    border-radius: 20px;
    padding: 20px 50px 30px 50px;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}